
.icon-basket-1:before { content: '\e801'; } /* '' */
.icon-user-outline:before { content: '\e802'; } /* '' */
.icon-search-1:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
